
        body {
            background-color: #000;
            color: #fff;
            font-family: 'Permanent Marker', cursive;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: url("https://i.pinimg.com/originals/e6/f7/d3/e6f7d34c80ef47899caaf3edb02e72c1.gif");
        }
        

        main {

            text-align: center;
        }

         
        #word-display{
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
        }
        
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }
        
        .letter-button {
            font-family: 'Press Start 2P', cursive;
            margin: 5px;
            padding: 10px;
            font-size: 18px;
        }
        
        
        .letter-button:hover{
            background-color: yellow;
            color: blue;
        }